<h1>Home</h1>
<hr />
<p>
    <h3>C# Ember-Handlebars Compiler</h3>
    .NET Library for pre-compilation of Handlebars templates directly into <code>Ember.TEMPLATES</code>.
</p>

<p>
    <strong>Install via NuGet</strong><br />
    <img src="https://raw.github.com/MilkyWayJoe/csharp-ember-handlebars/master/nuget.png" 
         alt="Install via NuGet" 
         title="PM> Install-Package csharp-ember-handlebars-compiler" />
</p>

