{{#if hasNotification}}
<div class="alert">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <span>{{notification}}</span>
</div>
{{else}}
<div style="height: 40px;">&nbsp;</div>    
{{/if}}    