<div class="row-fluid">
  <div class="span1">
    <strong>
      Title:
    </strong>
  </div>
  <div class="span10">
    {{unbound title}}
  </div>
</div>
<div class="row-fluid">
  <div class="span1">
    <strong>
      Network:
    </strong>
  </div>
  <div class="span10">
    {{unbound network}}
  </div>
</div>
<div class="row-fluid">
  <div class="span1">
    <strong>
      Category:
    </strong>
  </div>
  <div class="span10">
    {{unbound category}}
  </div>
</div>
<div class="row-fluid">
  <div class="span1">
    <strong>
      Year:
    </strong>
  </div>
  <div class="span10">
    {{unbound year}}
  </div>
</div>