{{view App.NavbarView}}

<div id="wrap">
  <div class="container">
    {{outlet}}
  </div>
  <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    &copy;2013 {{unbound App.author}}
  </div>
</div>

