{{partial navbar}}
<div id="wrap">
    <div class="container">
        <div class="visible-desktop">
            <br /><br /><br />
        </div>
        {{partial flash}}
        {{outlet}}
    </div>
    <div id="footer">
        <div class="container">
        &copy;2013 {{unbound App.author}}
        </div>
    </div>
</div>

