<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">{{unbound App.name}}</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li>
            {{#linkTo "home"}}Home{{/linkTo}}
          </li>
          <li>
            {{#linkTo "about"}}About{{/linkTo}}
          </li>
          <li>
            {{#linkTo "contact"}}Contact{{/linkTo}}
          </li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>