<fieldset>
	<legend>Edit Show: {{unbound title}} {{#if isDirty}}<i class="icon-asterisk"></i>{{/if}}</legend>
	{{partial show_form}}
</fieldset>
<button {{action confirmEdit this}} class="btn btn-info">
    <i class="icon-check icon-white"></i>
    Save
</button>
<button {{action cancelEdit this}} class="btn">
    <i class="icon-ban-circle"></i>
    Cancel
</button>