<div class="row-fluid">
	<div class="span2" style="text-align: right">
		Title:
	</div>
	<div class="span9">
		{{view Ember.TextField valueBinding="title"}}
	</div>
</div>
<div class="row-fluid">
  <div class="span2" style="text-align: right">
    Network:
  </div>
  <div class="span9">
    {{view Ember.TextField valueBinding="network"}}
  </div>
</div>
<div class="row-fluid">
  <div class="span2" style="text-align: right">
    Category:
  </div>
  <div class="span9">
    {{view Ember.TextField valueBinding="category"}}
  </div>
</div>
<div class="row-fluid">
  <div class="span2" style="text-align: right">
    Year:
  </div>
  <div class="span9">
    {{view Ember.TextField valueBinding="year"}}
  </div>
</div>
