<fieldset>
	<legend>
    Add Show  {{#if isDirty}}<i class="icon-asterisk"></i>{{/if}}
  </legend>
	{{partial show_form}}
</fieldset>
<button {{action confirmAdd this}} class="btn btn-info">
    <i class="icon-check icon-white"></i>
    Save
</button>
<button {{action cancelAdd this}} class="btn">
    <i class="icon-ban-circle"></i>
    Cancel
</button>